@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.default-form {
  padding-top: 15px;
}

.default-form-item {
  label {
    font-size: 14px !important;
    color: #314158 !important;
  }
}

.add-select {
  text-transform: capitalize !important;
}

.ant-select-input .ant-select-input {
  text-transform: capitalize !important;
}

.ant-select-input {
  text-transform: capitalize !important;
}

.ant-select-item-option-content {
  text-transform: capitalize !important;
}

.ant-tag-yellow {
  color: #facc15 !important;
  font-weight: 600 !important;
}

.filters-form {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  align-items: center;
}

.expanded-filters {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 1366px) {
  .expanded-filters {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    gap: 1rem !important;
  }
}
